@import 'styles/shared';

.field {
  display: block;
  width: calc(50% - 15px);
  margin-bottom: 20px;

  &:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

.label {
  display: block;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  padding: 10px;
}
