@import 'styles/shared';

.link {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.activeLink {
  composes: link;
  color: $accent-color;
}
