$primary-font-stack: 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;

$white-color: white;
$black-color: #212121;
$button-color: #4d8679;
$delete-color: #f07878;

$shadow: 2px 2px 6px rgba(0, 0, 0, 0.322);
$inner-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.32);
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
