@import 'styles/shared';

body {
  margin: 0;
  color: $text-color;
  background-color: $bg-color;
  font-family: $primary-font-stack;
  font-size: 18px;
  line-height: 1.4;
}

main {
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

p {
  margin: 0;
}
