@import 'styles/shared';

.contact {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 24px;
  padding-right: 58px;
}

.name {
  min-width: 50%;
  margin-bottom: 0;
  margin-right: 40px;
  font-weight: 400;
}
