@import 'styles/shared';

.field {
  display: block;
  width: 220px;
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  color: inherit;
  background-color: inherit;
}
