@import 'styles/shared';

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.button {
  @extend %button;
  min-width: 100px;
  padding: 10px;
  color: $white-color;
  background-color: $button-color;

  box-shadow: $shadow;
  opacity: 0.86;
  transition: opacity $animation;
}

.button:hover,
.button:focus {
  opacity: 1;
}
