@import 'styles/shared';

.list {
  @extend %list;
}

.item {
  position: relative;
  border-radius: 4px;
  box-shadow: $shadow;
  overflow: hidden;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.button {
  @extend %button;
  @extend %flexCentered;
  position: absolute;
  top: 20px;
  right: 10px;
  min-width: 30px;
  padding: 4px;
  color: $white-text-color;
  background-color: $delete-color;
  transform: translateX(50px);
  transition: transform $animation;

  .item:hover & {
    transform: translateX(0);
  }
}
