@import 'styles/shared';

.list {
  @extend %list;
}

.item {
  position: relative;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.button {
  @extend %button;
  @extend %flexCentered;
  position: absolute;
  top: 10px;
  right: 10px;
  min-width: 30px;
  padding: 4px;
  color: $white-color;
  background-color: $delete-color;
  opacity: 0.86;
  transition: opacity $animation;
}

.button:hover,
.button:focus {
  opacity: 1;
}
