@import 'styles/shared';

.list {
  @extend %list;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: $shadow;
}

.name {
  min-width: calc(50% - 15px);
  margin-right: 30px;
}

.number {
  margin-right: auto;
}

.button {
  @extend %button;
  min-width: 30px;
  color: $white-color;
  background-color: $delete-color;
  opacity: 0.86;
  transition: opacity $animation;
}

.button:hover,
.button:focus {
  opacity: 1;
}
